.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-style2 {
  padding: 40px 30px;
  background-color: #f7f8ed;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  transition: all 500ms ease;
}
[data-tm-layout=dark] .service-block-style2 {
  background-color: #15241f;
}
.service-block-style2::before {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transform: scale(1, 0.3);
  transform: scale(1, 0.3);
  background-color: var(--theme-color1);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
  border-radius: 30px;
}
.service-block-style2 .content .icon {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
}
.service-block-style2 .content .icon::before {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--theme-color1);
  border-radius: 50%;
  z-index: -1;
  transition: all 500ms ease;
}
[data-tm-layout=dark] .service-block-style2 .content .icon::before {
  background-color: var(--theme-color3);
}
.service-block-style2 .content .icon i,
.service-block-style2 .content .icon svg {
  display: inline-block;
  font-size: 50px;
  color: #10551f;
  will-change: transform;
}
[data-tm-layout=dark] .service-block-style2 .content .icon i,
[data-tm-layout=dark] .service-block-style2 .content .icon svg {
  color: var(--theme-color1);
}
.service-block-style2 .content .service-title {
  margin: 0;
}
.service-block-style2 .content .service-title a {
  background-position: 100% 95%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  display: inline;
  color: var(--headings-color);
  transition: all 0.4s ease-in-out;
}
[data-tm-layout=dark] .service-block-style2 .content .service-title a {
  color: var(--theme-color1);
}
.service-block-style2 .content .service-title a:hover {
  color: var(--headings-color);
  background-size: 100% 2px;
  background-image: linear-gradient(-180deg, var(--headings-color) 0%, var(--headings-color) 100%);
}
[data-tm-layout=dark] .service-block-style2 .content .service-title a:hover {
  color: var(--theme-color1-text-color);
  background-image: linear-gradient(-180deg, var(--theme-color1-text-color) 0%, var(--theme-color1-text-color) 100%);
}
.service-block-style2 .thumb {
  max-width: 252px;
  position: relative;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle cx="100" cy="50" r="50"/><circle cx="100" cy="150" r="50"/><circle cx="50" cy="100" r="50"/><circle cx="150" cy="100" r="50"/></svg>');
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  transition: all 900ms ease;
  margin: 30px auto 0;
}
.service-block-style2 .thumb img {
  width: 100%;
  height: 100%;
}
.service-block-style2:hover .content .icon img,
.service-block-style2:hover .content .icon i,
.service-block-style2:hover .content .icon svg {
  animation: wobble 1.5s ease-in-out;
}
.service-block-style2:hover .thumb {
  transform: rotateY(-360deg);
}
.service-block-style2.active::before {
  opacity: 1;
  transform: scale(1, 1);
}
.service-block-style2.active .icon::before {
  background-color: var(--theme-color-white);
}
[data-tm-layout=dark] .service-block-style2.active .content .icon i,
[data-tm-layout=dark] .service-block-style2.active .content .icon svg {
  color: var(--theme-color1-text-color);
}
[data-tm-layout=dark] .service-block-style2.active .content .service-title a {
  color: var(--theme-color1-text-color);
}
@keyframes wobble {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  15% {
    -webkit-transform: translate3d(25%, 0, 0) rotate(5deg);
    transform: translate3d(25%, 0, 0) rotate(5deg);
  }
  30% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate(-3deg);
    transform: translate3d(-20%, 0, 0) rotate(-3deg);
  }
  45% {
    -webkit-transform: translate3d(15%, 0, 0) rotate(3deg);
    transform: translate3d(15%, 0, 0) rotate(3deg);
  }
  60% {
    -webkit-transform: translate3d(-10%, 0, 0) rotate(-2deg);
    transform: translate3d(-10%, 0, 0) rotate(-2deg);
  }
  75% {
    -webkit-transform: translate3d(5%, 0, 0) rotate(1deg);
    transform: translate3d(5%, 0, 0) rotate(1deg);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}